# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
.env/

# IDE
.idea/
.vscode/

# MacOS
.DS_Store

#large files not supported in github
timeseries_projects/benchmark_datasets/large_data/
